<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>948267712582-f9484na2214kscc4lmfgj05rlf9ku6ku.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.948267712582-f9484na2214kscc4lmfgj05rlf9ku6ku</string>
	<key>API_KEY</key>
	<string>AIzaSyC3ax12yQsslagFJeMFsbEK6wtLZqQuEzw</string>
	<key>GCM_SENDER_ID</key>
	<string>948267712582</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vitalivyucheiski.Awesome-Player</string>
	<key>PROJECT_ID</key>
	<string>awesome-player-bbbd6</string>
	<key>STORAGE_BUCKET</key>
	<string>awesome-player-bbbd6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:948267712582:ios:75bcb6e8252eda9b4c0a47</string>
</dict>
</plist>